<a href="https://colab.research.google.com/github/GalinaShevyreva/GB/blob/main/HA_WS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

###1 задача###
Скачать файл в уроке  
Считать данные с помощью pandas  
Вывести на экран первые 5 строк  
Посмотреть на описание признаков и на их содержание

In [25]:
df = pd.read_csv('/content/sample_data/kc_house_data.csv') #считала данные

In [26]:
df.head() #вывела первые 5 строк, посмотрела на содержание датафрейма

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [27]:
df[df['date'].str.contains('T000000') == False] #убедиласть, что во всех датах после Т нули и эти данные можно удалить без потерь

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [28]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%dT%H%M%S').dt.strftime('%d-%m-%Y')
df.head() #формат даты по умолчанию в дф был мне неудобен, поэтому я поменяла его на ДД-ММ-ГГГГ

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,13-10-2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,09-12-2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,25-02-2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,09-12-2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,18-02-2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

###2 задача###
Проведите первичный анализ данных   
Изучите типы данных   
Найдите количество пропущенных ячеек в данных   
Посчитайте основные статистики по всем признакам и поизучайте их   
Пишите выводы

In [29]:
df.info() #посмотрела, сколько столбцов и строк в df, данные какого типа содержатся в столбцах

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [30]:
df.describe() #основная статистика по всем столбцам дф, в которых содержатся целые или дробные числа

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [31]:
df.describe(include = ['object']) #та же статистика по столбцам типа object

              date
count        21613
unique         372
top     23-06-2014
freq           142

In [32]:
df.isna().sum() #ищем, ксть ли в дф пропущенные значения. Нет, все строки заполнены по всем столбцам

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

В изучаемом датафрейме содержится информация о домах. Приводится множество характеристик этих домов, соотвественно, поскольку дома отличаются по качеству, по возрасту и по размеру (как площадью, так и количеством спален и ванных комнат), цены у них также существенно отличаются. Все строки датафрейма заполнены, пропущенных значений нет.

###3 задача###

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [34]:
df['price'].min()

75000.0

In [35]:
df['price'].max()

7700000.0

Стоимость недвижимости варьируется в диапазоне от 75 000 (видимо, тысяч долларов) до 7 700 000.

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [39]:
df['sqft_living'].sum()/df['sqft_lot'].sum()

0.1376781757959227

Жилая площать составляет 14% от всей площади домов.

3.3 Как много домов с разными этажами в данных?

In [41]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?

In [45]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [47]:
df['yr_built'].min()

1900

In [49]:
df['yr_built'].max()

2015

###4 задача###

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [50]:
df[df['bedrooms'] == 2] ['price'].mean()

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [53]:
df[df['price'] > 600000] ['sqft_lot'].mean()

20442.524776214832

4.3 Как много домов коснулся ремонт?

In [87]:
len(df[~(df['yr_renovated'] == 0)])

914

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [83]:
df[df['grade'] > 10] ['price'].mean() - df[df['grade'] < 4] ['price'].mean()

1488885.1175298805

###5 задача###

5.1 Выберите дом клиенту  
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [86]:
len(df[((df['waterfront'] == 1) & (df['bathrooms'] >= 3)) & (df['sqft_basement'] > 0)])

41

5.2 Выберите дом клиенту  
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [105]:
filtered_df = df[((df['view'] == df['view'].max()) | (df['waterfront'] == 1)) & (df['condition'] == df['condition'].max()) & (df['yr_built'] >= 1980)]

In [106]:
filtered_df['price'].min()

1295000.0

In [107]:
filtered_df['price'].max()

3000000.0

Соотвествующие запросу дома по своей стоимости будут находиться в ценовом диапазоне от 1 295 000 до 3 000 000

5.3 Выберите дом клиенту  
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [109]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)] ['condition'].mean()

2.8333333333333335